DOCKER_API_PORT="8000"
DOCKER_REDIS_INSIGTH_PORT="8001"

REDIS_ADDRESS="redis:6379"
REDIS_USERNAME="redis"
REDIS_PASSWORD="redis"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_IP="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="bsa"

CLIENT_ID=""
CLIENT_SECRET=""
REDIRECT_URL="http://localhost:8000/auth/callback"

GIN_MODE="debug"