DOCKER_GOLANG_VERSION="GOLANG IMAGE VERSION"

DOCKER_API_PORT="8000"
DOCKER_API_USER="CREATE AN USER"

DOCKER_REDIS_PORT="6379"
DOCKER_REDIS_INSIGTH_PORT="8001"

REDIS_ADDRESS="redis:6379"
REDIS_USERNAME="CREATE AN USER"
REDIS_PASSWORD="CREATE A PASSWORD"

CLIENT_ID="YOUR GOOGLE OAUTH2 CLIENT ID"
CLIENT_SECRET="YOUR GOOGLE OAUTH2 CLIENT SECRET"

GIN_MODE="debug"